.nav__items{
    display: flex;
    align-content: space-between;
}
.home__body{
margin-top: 15%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
align-content: center;
}